:root {

    --grey: rgb(150, 151, 153);
    --green: rgb(2, 52, 9);
    --black: black;
}


head {
    
}

body {
    background-color: var(--green);
    text-align: center;
}

#scores {
    font-size: 32px;
    color: var(--grey);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid var(black);
}

#timer {
    display: block;
}

#start {
    

}

#quiz-container {
    display: none;

}