:root {

    --grey: rgb(150, 151, 153);
    --green: rgb(2, 52, 9);
    --black: black;
    --white: azure;
}


header {
    display: flex;
    /* align-items:flex-start; */
    justify-content: space-between;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

#clock-container {
    display: block;
    font-size: 40px;
    float: left;
    position: fixed;
    bottom: 500px;
    left: 5px;
    border: 5px solid var(--black);
    background-color: var(--green);
    color: var(--grey);
    width: 300px;
    height: 150px;
    justify-content: center;
}

#hs-header{
    font-size: 40px; 
}

.highscores {
    font-size: 50px;
}

#hs-container{
justify-content: center;
}

body {
    background-color: var(--grey);
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    color: var(--green);
}

.eagles-header{
    font-size: 50px;
}

.cox-crawling{
    
}

#start {
    width: 50px;
    height: 20px;
}

.instructions{
    font-size: 40px;
}

.scores {
    font-size: 32px;
    color: var(--grey);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid var(black);
}


.instructions{
    font-size: 30px;
}


.start {
    display: block;  
    height: 200px;
    width: 200px;
    background-color: var(--black);
    color: var(--white);
    
}


#quiz-container {
    display: none;
    
}


.all-done{
    margin-bottom: 200px;
    font-size: 35px;
}

.g-over {
    font-size: 70px;
}

.card {

}

.footer{
    flex-wrap: wrap;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 25px solid var(--green);
    font-size: 28px;
    height: 200px;
    width: 96%;
    justify-content: bottom;
}