:root {

    --grey: rgb(150, 151, 153);
    --green: rgb(2, 52, 9);
    --black: black;
}


.head {
   
}

body {
    background-color: var(--grey);
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    color: var(--green);
}

.eagles-header{
    font-size: 50px;
}

.scores {
    font-size: 32px;
    color: var(--grey);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid var(black);
}

#clock {
    display: block;
    font-size: 30px;

}

.instructions{
    font-size: 30px;
}


.start {
    display: block;  
    height: 200px;
    width: 200px;
    background-color: var(--black);
    color: azure;
    
}

#quiz-container {
    display: none;
    
}

.hs-card{
    font-size: 30px;
}

.all-done{
    margin-bottom: 200px;
    font-size: 35px;
}

.g-over {
    font-size: 70px;
}

.card {

}

.footer{
    flex-wrap: wrap;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 25px solid var(--green);
    font-size: 28px;
    justify-content:fle;
    height: 200px;
    width: 96%;
    justify-content: bottom;
}